html(lang="en")
    head
        include blocks/commons/head/head.pug
    body 
        include blocks/commons/header/header.pug
        main 
        include blocks/commons/footer/footer.pug
        script(src="js/script.min.js") 
